@import '~antd/dist/antd.css';

#root {
    height: 100%;
}

ul {
    padding: 0;
    & li{
        list-style-type: none;
    }
}

.h100 {
    height: calc(100vh - 64px);
}

.container {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}